; Used in azure pipelines to point to our azure artifacts feed for npm packages.
; See README.md in <repo-root>/.azure-pipelines/ for more details on Central Feeds Services.
; This file is copied to the '<repo-root>/sdk' folder during npm pipeline builds.
registry=https://microsoft.pkgs.visualstudio.com/Dart/_packaging/Mxc-Azure-Feed/npm/registry/ 
                 
always-auth=true